.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* ---------------------------------------------------- */
/*               CONFIGURACION DEL NAVBAR               */
/* ---------------------------------------------------- */


/* Titulo principal del NAVBAR */
.configTitulo {
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: #000000;
}

/* Titulo para REGISTRAR UN TERRENO */
.configTituloRegistrarTerreno {
  color: #5a5a5a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 18px;
}

/* Barra de BUSCAR */
.configBuscar{
  float: right;
  width: 70%;
  border-radius: 20px;
  margin-right: 1%;
}

/* Boton de BUSCAR */
.configBotonBuscar{
  float: right;
  font-size: 19px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 20%;
  border-radius: 20px;
  margin-left: 1%;
}






/* ---------------------------------------------------- */
/*                       LOGIN                          */
/* ---------------------------------------------------- */

body{
  background: rgb(207, 207, 207);
}

.configCard{
  margin-top: 10%;
}

.configLogin {
  margin-top: 8%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.configTituloLogin{
  text-align: center;
}

.configTextLogin{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
}

.configCamposLogin{
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.textLoginLabel{
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textLoginInput{
  font-size: 20px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.configBotonIngresar {
  width: 40%;
  margin: 2%;
  margin-top: 5%;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
}


.configRegistro {
  width: 40%;
  margin: 2%;
  margin-top: 5%;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
}


.centerCamposRegistro {
  margin-left: 3%;
}

.labelConfigRegistro {
  margin-top: 5%;
}

.inputConfigRegistro {
  border-radius: 20px;
}


.configBotonRegistro {
  width: 30%;
  margin: 2%;
  margin-top: 5%;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
}








/* ---------------------------------------------------- */
/*         PAGINA DONDE SE LISTAN LOS TERRENOS          */
/* ---------------------------------------------------- */

/* -------------------------- */
/* CONFIGURACION DE LOS CARDS */
/* -------------------------- */

/* Margen de cada CARD */
.configCards{
  margin-top: 2%;
  margin-bottom: 2%;
}


.card{
  border-radius: 15px;
}

/* Configuracin del espaciado del CARD */
p{
  margin-bottom: -1px;
}

/* Configuracion para los iconos */
.configBotonEdit{
  float: right;
  margin: 2%;
  height: 24px;
}

.configBotonDelete{
  float: right;
  margin: 2%;
  height: 24px;
}

/* Configuracion del MODAL ELIMINAR */

/* Configuracion del titulo para el modal de eliminar */
.tituloModalEliminar{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.configTextEliminar{
  font-size: 20px;
  margin: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.configBotonConfirmar{
  border-radius: 18px;
  width: 30%;
  margin: 1%;
  margin-bottom: 6%;
  position:relative;
  margin-left: auto;
}

.configBotonCancelar {
  border-radius: 18px;
  width: 30%;
  margin: 1%;
  margin-bottom: 6%;
  position:relative;
  margin-right: auto;
}


/* Configuracion del MODAL ACTUALIZAR */

.centerTituloModalEditar{
  margin-right: auto;
  margin-left: auto;
}


.tituloModalEditar{
  text-align: center; 
  font-size: 30px;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.centerAlingModal {
  text-align: center;
  margin: 1%;
}

.botonConfigModal {
  margin: 1%;
  border-radius: 20px;
  width: 25%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}









/* ---------------------------------------------------- */
/*                  REGISTRAR TERRENOS                  */
/* ---------------------------------------------------- */

.espacioRegistrarTerreno{
  margin-top: 2%;
  width: 40%;
  margin-bottom: 6%;
}

.configText{
  font-weight: bolder;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
  resize: none;
  font-style: normal;
  font-family: "Raleway", sans-serif !important;
  margin-bottom: -1%;
}

.centerAling{
  text-align: center;
}

.botonCofigCrear {
  width: 30%;
  border-radius: 20px;
  margin-top: 1%;
}

input, label {
  font-size: 16px;
  font-family: "Raleway", sans-serif !important;
  margin-bottom: -1%;
  
}

select{
  font-style: normal;
  font-family: "Raleway", sans-serif !important;
  margin-bottom: -1%;
}

option{
  font-style: normal;
  font-family: "Raleway", sans-serif !important;
  margin-bottom: -1%;
}


.border{
  border-radius: 15px;
}


